{% extends "base.html" %}
{% block content %}
    <h1>Discovered Devices</h1><br />

    <div class="panel-group">
    {% for pdevice in devices %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" data-toggle="collapse" href="#collapse{{ forloop.counter }}">
                    <i class="glyphicon glyphicon-chevron-down"></i> &nbsp;{{ pdevice.device_id }}
                </h4>
            </div>
            <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><strong>Device ID</strong></div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><strong>Device Name</strong></div>
                    </div>
                {% for ldevice in pdevice.logicaldevice_set.all %}
                    <div class="panel-body">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">{{ ldevice.device_id }}</div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">{{ ldevice.device_name }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
    </div>





{% endblock content %}
