{% extends "base.html" %}
{% block content %}
    <h1>Connected Devices</h1><br />

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Device</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        {% for device in devices %}
            <tr>
                <td style="vertical-align:middle">{{ device.device_name }}</td>
            {% if device.device_status|lower == 'off' %}
                <td><a href="#" class="btn btn-default btn-lg" role="button"><i style="color:red;font-size:20px;" class="fa fa-fire" aria-hidden="true"></i></a</td>
            {% else %}
                <td><a href="#" class="btn btn-default btn-lg" role="button"><i style="color:green;font-size:20px;" class="fa fa-fire" aria-hidden="true"></i></a</td>
            {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}
