{% extends "base.html" %}
{% block content %}
    <h1>Connected Devices</h1><br />

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Device</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="vertical-align:middle">switch one</td>
                <td><a href="#" class="btn btn-default btn-lg" role="button"><i style="color:red;font-size:20px;" class="fa fa-fire" aria-hidden="true"></i></a</td>
            </tr>
            <tr>
                <td style="vertical-align:middle">switch 2</td>
                <td><a href="#" class="btn btn-default btn-lg" role="button"><i style="color:green;font-size:20px;" class="fa fa-fire" aria-hidden="true"></i></a</td>
            </tr>
        </tbody>
    </table>
    {{ devices }}
    {% for device in devices %}
        {{ device.device_status }}
    {% endfor %}
{% endblock content %}
